.footer {
    background-color: transparent;
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: var(--footer-color);
    border-top: 2px solid var(--footer-border-color);
    box-shadow: 0 0 40px var(--shadow-color);
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 27px;
    justify-content: center;
    gap: 75px
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

.social__item {
    width: 28px;
}