.footer {
    background-color: transparent;
    margin-top: auto;
    padding: 60px 0 50px;
    background-color: rgba(40, 40, 40, 0.5);
    border-top: 2px solid rgb(35, 35, 35);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 27px;
    justify-content: center;
    gap: 75px
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

.contacts-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.social__item {
    width: 28px;
}