
@media (max-width:1437px) {
  .contacts-content-wrapper {
    flex-direction: column;
  }

  .contacts__feedback-form {
    margin: 30px auto 0;
}
}



option {
    color: #000;
}

.swiper {
  min-width: 0;
  margin-top: 40px;
}

.link {
  border-radius: 5px;
  background: var(--accent);
  display: inline-block;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%; /* 2.625rem */
  padding: 0.8571em 1.28571em;
  box-shadow: var(--box-shadow);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.link:active {
  background: #2b2409;
  color: #b9b089;
}
@media (hover: hover) {
  .link:hover {
    background: var(--white);
    color: var(--project-card-bg);
  }
}
@media (max-width: 71.25em) {
  .link {
    font-size: 1.25rem;
  }
}
@media (max-width: 25em) {
  .link {
    font-size: 1rem;
  }
}


@media (max-width: 1140px) {
  .nav-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-size: 24px;
    width: 320px;
    background-color: #171718;
    top: 0;
    bottom: 0;
    left: -320px;
    }
  
}

@media (max-width: 800px) {
    /* Skills page */

    .skill__text {
      width: calc(100vw - 80px) !important;
    }
}

@media (max-width: 620px) {

    /* Header  */

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    /* Nav */

    .nav-row {
        justify-content: space-between;
    }

    /* General */

    .section {
        padding: 40px 0;
    }

    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    /* Projects */

    .project__title {
        font-size: 22px;
    }

    /* Project page */

    .project-details__desc {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .project-header {
      flex-direction: column;
    }

    /* Content List */

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    /* Footer */

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }

    /* Social */

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

}

