  
.skills {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.skill {
    width: 50%;
    background-color: var(--skills-color);
    box-shadow: 3px 3px 5px 0px var(--shadow-color);
    padding: 20px 25px;
    border-radius: 10px;
}

.skill {
    text-wrap: balance;
    overflow-wrap: break-word;
    overflow: hidden;
}

.skill > .skill__title > p {
    max-width: 90%;
}

.skill__text {
    width: 950px;
    text-wrap: wrap;
    overflow-wrap: normal;
}

.s_right {
    align-self: flex-end;
}

.container-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__title::after {
    content: ">";
    transition: all 0.2s ease-in-out !important;
    transform: scale(1.2);
}

.s_right > .skill__title::after {
    transform: rotate(180deg) scale(1.2);
}

.skill__title[checked]::after {
    transform: rotate(90deg) scale(1.5);
}

.skill__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.s_left > .skill__title {
    flex-direction: row-reverse;
    text-align: right;
}

.skill__text {
    margin-top: 0px;
    font-size: 18px;
    text-align: justify;
    max-height: 0;
    overflow: hidden;
}

.skill__title[checked] ~ .skill__text {
    max-height: 200px;
    margin-top: 30px;
}

.skill:has(.skill__title[checked]) {
    width: 100%;
}


/* .skill__title::after {
    content: "+";
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
} */